@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    border:none;
    outline:none;
    font-size:14px;
    list-style:none;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;

}
body,html{
    height:100%;
}
body{
    background:linear-gradient(-46deg, rgba(17, 17, 17, 0.62), rgba(70, 70, 70, 0.79));

}
.navbar{
    width: 100%;
    padding:15px 20px;
    background-color:#aaa;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .new-test .new-btn{
    padding:10px 35px;
    background-color: rebeccapurple;
    color:white;
    cursor:pointer;
    border-radius: 5px;
    transition: 300ms ease;
}
.navbar .new-test .new-btn:hover{
    background-color: rgba(102, 51, 153, 0.61);
    animation: box-shadow 600ms linear infinite alternate;
    --box-shadow: rgba(102, 51, 153, 0.34);
}

@keyframes box-shadow {
    0%{
        box-shadow: 0 0 5px 1px var(--box-shadow);
    }
    25%{
        box-shadow: 0 0 10px 1px var(--box-shadow);
    }
    50%{
        box-shadow: 0 0 15px 1px var(--box-shadow);
    }
    100%{
        box-shadow: 0 0 20px 1px var(--box-shadow);
    }
}