<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ably hack tool ui - v0.0.1-alpha</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style/index.css') }}">
</head>
<body>
<nav class="navbar">
    <div class="logo"></div>
    <div class="search"></div>
    <div class="new-test">
        <a href="/new-test" class="new-btn" id="new-btn">NEW</a>
        <div class="new-content" id="new-content">
        </div>
    </div>
</nav>
<script src="{{ url_for('static',filename='script/java.js') }}"></script>
</body>
</html>